@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: #8D5524;
        --color-typography: #fff;
        --color-background: #fff;
	} 

    ul, ol {
        list-style: revert;
    }
}
